{% extends 'base.html.twig' %}

{% block title %} Обучающие курсы {% endblock %}


{% block body %}

    <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="/assets/img/bg/bg9.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Blog List</h1>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="home-default.html">Home</a></li>
                        <li><a href="javascript:void(0)">Blog List Sidebar</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- end page title section -->

    <!-- start blog section -->
    <section>
        <div class="container">

            {% if courses is empty %}
                Пока нет ни одного курса...
            {% else %}
                {% for course in courses %}
                    <div class=blog-list-simple>
                        <div class="row">
                            <div class="col-md-5 col-sm-12 sm-margin-20px-bottom">
                                <div class=blog-list-simple-img>
                                    {% if course.coverImage is not empty %}
                                        <img alt=img src={{ vich_uploader_asset(course, 'coverImageFile') }}>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="blog-list-simple-text">
                                    <span>{{ course.type }}</span>
                                    <h4>{{ course.title }}</h4>
                                    <p>{{ course.description }}</p>
                                    <div class="text-left margin-10px-top">
                                        <a href="{{ path('courses_course', {courseSlug: course.slug} ) }}" class="butn small">
                                            <span>К урокам курса</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}