{% extends 'base.html.twig' %}

{% block title %} {{ lesson.title }} {% endblock %}

{% block body %}

    {{ include('/baseLayout/breadcrumbs.twig', {
        titleH1: lesson.title,
        breadcrumbsStyles: lesson.course.breadcrumbsStyles,
        breadcrumbsImageSrc: vich_uploader_asset(lesson.course, 'breadcrumbImageFile'),
        breadcrumbs: [
        {
            'url': path('page_home'),
            'text': 'Главная'
        },
        {
            'url': path('courses_list'),
            'text': 'Курсы'
        },
        {
            'url': path('courses_course', {'courseSlug': lesson.course.slug }),
            'text': lesson.course.title
        }
        ]
    }) }}

    <section class="blogs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="posts">
                        <div class="post">
                            {% if lesson.videoLink is not empty %}
                                <div class="post-img">
                                    <iframe
                                        width="100%"
                                        height="100%"
                                        src="{{ lesson.videoLink }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            {% elseif lesson.coverFileName is not empty and lesson.viewCoverInDetail is same as(true) %}
                                <div class="post-img">
                                    <img src="{{ vich_uploader_asset(lesson, 'coverFile') }}" alt="">
                                </div>
                            {% endif %}
                            <div class="content">
                                <div class="post-meta">
                                    <div class="post-title">
                                        <h2>{% if lesson.number is not empty %}{{ lesson.number }}#{% endif %} {{ lesson.title }}</h2>
                                    </div>
                                    <ul class="meta">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ lesson.course.title }}
                                            </a>
                                        </li>

                                        {% if lesson.date is not empty %}
                                            <li>
                                                <i class="fas fa-calendar-alt" aria-hidden="true"></i> {{ lesson.date | date('d M Y') }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="post-cont">
                                    {% if lesson.descriptionDetail is not empty %}
                                        {{ lesson.descriptionDetail | raw }}
                                    {% else %}
                                        <p>{{ lesson.descriptionPreview }}</p>
                                    {% endif %}
                                </div>
                                {#<div class="share-post">
                                    <span>Поделись статьей, если информация была полезна!</span>
                                    <ul>
                                        <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                    </ul>
                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}