{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="/assets/img/bg/bg9.jpg">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1>Blog List</h1>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li><a href="home-default.html">Home</a></li>
                        <li><a href="javascript:void(0)">Blog List Sidebar</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section>
        <div class="container">
            {% if lessons is empty %}
                <div class=blog-list-simple>
                    <div class="row">
                        <div class="col-12">
                            Пока не опубликовано ни одного урока...
                        </div>
                    </div>
                </div>
            {% else %}
                {% for lesson in lessons %}
                    <div class=blog-list-simple>
                        <div class="row">
                            <div class="col-md-5 col-sm-12 sm-margin-20px-bottom">
                                <div class=blog-list-simple-img>
                                    {% if lesson.coverFileName is not empty %}
                                        <img alt=img src={{ vich_uploader_asset(lesson, 'coverFile') }}>
                                    {% elseif lesson.videoLink is not empty %}
                                        <iframe
                                            width="100%"
                                            height="100%"
                                            src="{{ lesson.videoLink }}"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="blog-list-simple-text">
                                    {#<span>{{ lesson.course.title }}</span>#}
                                    <h4>{% if lesson.number is not empty %}{{ lesson.number }}#{% endif %} {{ lesson.title }}</h4>
                                    <p>{{ lesson.descriptionPreview }}</p>
                                    <div class="text-left margin-10px-top">
                                        <a href="{{ path('courses_lesson_detail', { courseSlug: lesson.course.slug, lessonSlug: lesson.slug}) }}" class="butn small">
                                            <span>Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </section>
{% endblock %}

