{% extends 'base.html.twig' %}

{% block title %} Обучающие курсы {% endblock %}

{% block body %}
    {{ include('/baseLayout/breadcrumbs.twig', {
        titleH1: 'Курсы',
        breadcrumbsImageSrc: asset('/assets/img/new_content/edu.jpg'),
        breadcrumbs: [
        {
            'url': path('page_home'),
            'text': 'Главная'
        },
        {
            'url': path('courses_list'),
            'text': 'Курсы'
        }
        ]
    }) }}

    <section>
        <div class="container">

            {% if courses is empty %}
                Пока нет ни одного курса...
            {% else %}
                {% for course in courses %}
                    <div class=blog-list-simple>
                        <div class="row">
                            <div class="col-md-5 col-sm-12 sm-margin-20px-bottom">
                                <div class=blog-list-simple-img>
                                    {% if course.coverImage is not empty %}
                                        <img alt=img src={{ vich_uploader_asset(course, 'coverImageFile') | imagine_filter('course_cover_in_list')  }}>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="blog-list-simple-text">
                                    <span>{{ course.type }}</span>
                                    <h4>{{ course.title }}</h4>
                                    <p>{{ course.description }}</p>
                                    <div class="text-left margin-10px-top">
                                        <a href="{{ path('courses_course', {courseSlug: course.slug} ) }}" class="btnz small">
                                            <span>К урокам курса</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock %}